<html ng-app="ChessStats">
  <head>
    <meta charset="utf-8">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src=<% get_static_url("js/lib/angular/angular.js") %>></script>
    <script src=<% get_static_url("js/lib/angular/angular-resource.js") %>></script>
    <script src=<% get_static_url("js/app.js") %>></script>
    <script src=<% get_static_url("js/services.js") %>></script>
    <script src=<% get_static_url("js/controllers.js") %>></script>
    <script src=<% get_static_url("js/filters.js") %>></script>
    <script src=<% get_static_url("js/directives.js") %>></script>
    <script src=<% get_static_url("js/navigation.js") %>></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,600,300'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href=<%
          get_static_url("bootstrap/css/bootstrap.min.css") %>
          type="text/css">
    <link rel="stylesheet" href=<%
          get_static_url("css/base_styles.css") %>
          type="text/css">
    <link rel="stylesheet" href=<%
          get_static_url("css/move_browser_styles.css") %>
          type="text/css">
  </head>
  <body>
    <header>
      <div id="navigation">
        <div id="navigation-background"></div>
        <div id="logo-icon"><a href="../"><img src="../static/img/logo_icon2.png"></a></div>
        <div class="links">
          <div class="histogram-link">
            <p><a href="../rating_graph/<%username%>">1</a></p>
            <div>
              <p><a href="../rating_graph/<%username%>">Rating Histogram</a></p>
            </div>
          </div>
          <div class="games-history-link">
            <p><a href="../browse_games/<%username%>">2</a></p>
            <div>
              <p><a href="../browse_games/<%username%>">Game History</a></p>
            </div>
          </div>
          <div class="game-analysis-link">
            <p><a href="../">3</a></p>
            <div>
              <p><a href="../">Game Analysis</a></p>
            </div>
          </div>
          <div class="moves-stats-link" ng-class="navClass('movesStats')">
            <p><a href="../browse_moves/<%username%>">4</a></p>
            <div>
              <p><a href="../browse_moves/<%username%>">Moves Statistics</a></p>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div id="content">
      <div id="angular" class="board-table-container" ng-controller="MoveStatsCtrl" ng-init="init('<% username %>')">
        <div id="page-header" style="text-align:left;">
          <h2> All Players / <span id="page-title"> Moves Statistics</span></h2>
          <p><i class="icon-hand-left"></i>
            <span id="bold">
            <script>
              document.write('<a href="' + document.referrer + '">Go Back</a>');
            </script>
            </span>
         </p>
        </div>

        <div style="margin-top:40px;">
        <img src="../static/img/chess_board.svg" width="37%" id="temp-chessboard">
        <table class="containing-table">
          <tr>
            <td class="span2">
              <table id="moves-table" class="table table-striped table-bordered">
                <th class="movePair">#</th>
                <th class="movePair">
                  <a ng-click="moveControl.setColor(true)">
                    White &#9817;
                  </a>
                </th>
                <th class="movePair">
                  <a ng-click="moveControl.setColor(false)">
                    Black &#9823;
                  </a>
                </th>
                <tr class="movePair"  ng-repeat="movePair in moveControl.movePairs">
                  <td>
                    <span id="bold">
                    {{ movePair.index/2 + 1 }}.
                    </span>
                  </td>
                  <td>
                    <span id="bold">
                    <a ng-click="moveControl.truncateMovesTo(movePair.index)">
                      {{ movePair.whiteMove }}
                    </a>
                    </span>
                  </td>
                  <td>
                    <span id="bold">
                    <a ng-click="moveControl.truncateMovesTo(movePair.index + 1)">
                      {{ movePair.blackMove }}
                    </a>
                    </span>
                  </td>
                </tr>
              </table>
            </td>

            <td class="containing-td span7">
              <table class="right table table-striped table-bordered">
                <th>Next Move</th>
                <th>White Wins<span>(# games)</span></th>
                <th>Black Wins<span>(# games)</span></th>
                <th>Draws<span>(# games)</span></th>
                <th>White Avg <span>(Elo)</span></th>
                <th>Black Avg <span>(Elo)</span></th>
                <tr class="row-stats" ng-repeat="moveStats in moveControl.moveStatsList">
                  <td>
                    <span id="bold">
                    <a ng-click="moveControl.addMove(moveStats.move)">
                      {{ moveStats.move }}
                    </a>
                    </span>
                  </td>
                  <td>{{ moveStats.white_win_pct.toFixed(2) * 100 |
                  number:0 }}%  ({{ moveStats.white_wins }})</td>
                  <td>{{ moveStats.black_win_pct.toFixed(2) * 100 |
                  number:0 }}% ({{moveStats.black_wins}})</td>
                  <td>{{ moveStats.draw_pct.toFixed(2) * 100 |
                  number:0 }}% ({{moveStats.draws}})</td>
                  <td>{{ moveStats.white_average_elo.toFixed(0) }}</td>
                  <td>{{ moveStats.black_average_elo.toFixed(0) }}</td>
                </tr>
              </table>
            </td>
          </tr><!--containing table-->
        </table><!--containing table-->
        </div><!-- contains image and tables -->
      </div><!--content-->
    </div><!--angular-->
  </body>
</html>
