<html ng-app="ChessStats">
  <head>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src={{ get_static_url("js/lib/angular/angular.js") }}></script>
    <script src={{ get_static_url("js/lib/angular/angular-resource.js") }}></script>
    <script src={{ get_static_url("js/app.js") }}></script>
    <script src={{ get_static_url("js/services.js") }}></script>
    <script src={{ get_static_url("js/controllers.js") }}></script>
    <script src={{ get_static_url("js/filters.js") }}></script>
    <script src={{ get_static_url("js/directives.js") }}></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="http://mbostock.github.com/d3/d3.v2.js"></script>
    <script src={{ get_static_url("js/user_rating_histogram.js")
    }}></script>

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css"
          rel="stylesheet">

    <link rel="stylesheet" href={{
          get_static_url("css/base_styles.css") }}
          type="text/css">
    <link rel="stylesheet" href={{
          get_static_url("css/browse_games_styles.css") }}
          type="text/css">
    <link rel="stylesheet" href={{
          get_static_url("css/d3_styles.css") }} type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300'
          rel='stylesheet' type='text/css'>

  </head>
  <body>
    <div class="center">
      <h1>
        <a href="../browse_moves/{{ username }}">{{ username }}</a>
      </h1>
    </div>

    <div id="graph" class="rating-graph" ng-user-rating-histogram
    username="{{ username }}"></div>

    <div id="angular" ng-controller="GameBrowseCtrl" 
         ng-init="gameLoader.init('{{ username }}', '{{ port }}')")>
      <div class="row span10 center">
        <table class="game-table table table-striped table-bordered">
          <tr>
            <th>Date Played</th> 
            <th class="user-column">White Player</th>
            <th>White Elo</th>
            <th class="user-column">Black Player</th>
            <th>Black Elo</th>
            <th>Game ID</th>
          </tr>
          <tr ng-repeat="game in gameLoader.games" ng:fade="true">
            <td>[[game.date_played]]</td>
            <td class="user-column">
              <a href='[[game.white_username]]'>
	            <b ng-show="game.result == 'W'">(W)</b>
                 [[game.white_username]]
              </a>
            </td>
            <td>[[game.white_elo]]</td>
            <td class="user-column">
              <a href='[[game.black_username]]'>
	            <b ng-show="game.result == 'B'">(W)</b>
                [[game.black_username]]
              </a>
            </td>
            <td>[[game.black_elo]]</td>
            <td><a href=[[gameLoader.buildChessDotComGameURL(game.id)]]>[[game.id]]</a></td>
          </tr>
      </div>
    </div>
  </body>
</html>
