<html ng-app="ChessStats">
  <head>
    <script src={{ get_static_url("js/lib/angular/angular.js") }}></script>
    <script src={{ get_static_url("js/lib/angular/angular-resource.js") }}></script>
    <script src={{ get_static_url("js/app.js") }}></script>
    <script src={{ get_static_url("js/services.js") }}></script>
    <script src={{ get_static_url("js/controllers.js") }}></script>
    <script src={{ get_static_url("js/filters.js") }}></script>
    <script src={{ get_static_url("js/directives.js") }}></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css"
          rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href={{
          get_static_url("css/base_styles.css") }}
          type="text/css">
    <link rel="stylesheet" href={{
          get_static_url("css/move_browser_styles.css") }}
          type="text/css">

  </head>
  <body>
    <div id="angular"  ng-controller="MoveStatsCtrl" ng-init="init('{{ username }}')">
      <header>
        <h1>
          <a href="../browse_games/[[ moveControl.username ]]">
            [[ moveControl.username ]]
          </a>
        </h1>
      </header>
      <div>
        <table class="containing-table">
          <tr>
            <td>
              <table class="table table-striped table-bordered">
                <th class="movePair">#</th>
                <th class="movePair">
                  <a ng-click="moveControl.setColor(true)">
                    White
                  </a>
                </th>
                <th class="movePair">
                  <a ng-click="moveControl.setColor(false)">
                    Black
                  </a>
                </th>
                <tr class="movePair"  ng-repeat="movePair in moveControl.movePairs">
                  <td>
                    [[ movePair.index/2 + 1 ]].
                  </td>
                  <td>
                    <a ng-click="moveControl.truncateMovesTo(movePair.index)">
                      [[ movePair.whiteMove ]]
                    </a>
                  </td>
                  <td>
                    <a ng-click="moveControl.truncateMovesTo(movePair.index + 1)">
                      [[ movePair.blackMove ]]
                    </a>
                  </td>
                </tr>
              </table>
            </td>
            <td class="containing-td">
              <table class="right table table-striped table-bordered">
                <th>Next Move</th>
                <th>White Wins</th>
                <th>Black Wins</th>
                <th>Draws</th>
                <th>White Win %</th>
                <th>Black Win %</th>
                <th>Draw %</th>
                <th>White Avg Elo</th>
                <th>Black Avg Elo</th>
                <tr class="row-stats" ng-repeat="moveStats in moveControl.moveStatsList">
                  <td>
                    <a ng-click="moveControl.addMove(moveStats.move)">
                      [[ moveStats.move ]]
                    </a>
                  </td>
                  <td>[[ moveStats.white_wins ]]</td>
                  <td>[[ moveStats.black_wins ]]</td>
                  <td>[[ moveStats.draws ]]</td>
                  <td>[[ moveStats.white_win_pct.toFixed(2) ]] ([[ moveStats.white_wins ]])</td>
                  <td>[[ moveStats.black_win_pct.toFixed(2) ]] ([[moveStats.black_wins]])</td>
                  <td>[[ moveStats.draw_pct.toFixed(2) ]]</td>
                  <td>[[ moveStats.white_average_elo.toFixed(0) ]]</td>
                  <td>[[ moveStats.black_average_elo.toFixed(0) ]]</td>
                </tr>
              </table>
            </td>
          </tr><!--containing table-->
        </table><!--containing table-->
      </div><!--content-->
      <footer>
        <p>Copyright 2013</p>
      </footer>
    </div><!--angular-->
  </body>
</html>
