<!doctype html>
<html ng-app="ChessStats">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src=<% get_static_url("js/lib/angular/angular.js") %>></script>
    <script src=<% get_static_url("js/lib/angular/angular-resource.js") %>></script>
    <script src=<% get_static_url("js/app.js") %>></script>
    <script src=<% get_static_url("js/services.js") %>></script>
    <script src=<% get_static_url("js/controllers.js") %>></script>
    <script src=<% get_static_url("js/filters.js") %>></script>
    <script src=<% get_static_url("js/directives.js") %>></script>
    <script src=<% get_static_url("js/navigation.js") %>></script>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,300" type="text/css">
    <link rel="stylesheet" href=<% get_static_url("bootstrap/css/bootstrap.min.css") %> type="text/css">
    <link rel="stylesheet" href=<% get_static_url("css/base_styles.css") %> type="text/css"> 
    <link rel="stylesheet" href=<% get_static_url("css/browse_games_styles.css") %> type="text/css">
    {% endblock %}
  </head>
  <body>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
    <div id="footer">
      {% block footer %}
      {% endblock %}
    </div>
  </body>
</html>
