<!doctype html>
<html ng-app="ChessStats">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="http://mbostock.github.com/d3/d3.v2.js"></script>
    <script src=<% get_static_url("js/lib/angular/angular.js") %>></script>
    <script src=<% get_static_url("js/lib/angular/angular-resource.js") %>></script>
    <script src=<% get_static_url("js/app.js") %>></script>
    <script src=<% get_static_url("js/factories.js") %>></script>
    <script src=<% get_static_url("js/controllers.js") %>></script>
    <script src=<% get_static_url("js/filters.js") %>></script>
    <script src=<% get_static_url("js/directives.js") %>></script>
    <script src=<% get_static_url("js/user_rating_histogram.js") %>></script>
    <script src=<% get_static_url("js/lib/ChessBoard/src/Board.js") %>></script>
    <script src=<% get_static_url("js/lib/ChessBoard/lib/patch_draggable.js") %>></script>
    <script src=<% get_static_url("js/lib/ChessBoard/src/Module.js") %>></script>
    <script src=<% get_static_url("js/lib/ChessBoard/src/Board.js") %>></script>
    <script src=<% get_static_url("js/lib/ChessBoard/src/Notation.js") %>></script>
    <script src=<% get_static_url("js/lib/ChessBoard/src/Game.js") %>></script>
    <script src=<% get_static_url("js/lib/ChessBoard/src/Directives.js")%>></script>


    <link href="http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,600,300">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,300" type="text/css">
    <link rel="stylesheet" href=<% get_static_url("bootstrap/css/bootstrap.min.css") %> type="text/css">
    <link rel="stylesheet" href=<% get_static_url("css/base_styles.css") %> type="text/css"> 
    {% endblock %}
  </head>
  <body>
    {% block navigation %}
    <header>
      <div id="navigation">
        <div id="navigation-background"></div>
        <div id="logo-icon">
          <a href="../"><img src="../static/img/logo_icon2.png"></a>
        </div>
        <div class="links">
          <navigation-item href="../rating_graph/<% username %>"
                           title="Rating Histogram" letter="1"
                           class="histogram-link"></navigation-item>
          <navigation-item href="../browse_games/<% username %>"
                           title="Game History" letter="2"
                           class="games-history-link"></navigation-item>
          <navigation-item href="../<% username %>"
                           title="Game Analysis" letter="3"
                           class="game-analysis-link"></navigation-item>
          <navigation-item href="../browse_moves/<% username %>"
                           title="Move Statistics" letter="4"
                           class="moves-stats-link"></navigation-item>
        </div>
      </div>
    </header>
    {% endblock %}

    {% block content %}
    {% endblock %}
  </body>
</html>
