<!DOCTYPE html>
<html ng-app="ChessStats">
  <head>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src={{ get_static_url("js/lib/angular/angular.js") }}></script>
    <script src={{ get_static_url("js/lib/angular/angular-resource.js") }}></script>
    <script src={{ get_static_url("js/app.js") }}></script>
    <script src={{ get_static_url("js/services.js") }}></script>
    <script src={{ get_static_url("js/controllers.js") }}></script>
    <script src={{ get_static_url("js/filters.js") }}></script>
    <script src={{ get_static_url("js/directives.js") }}></script>
    <script src="http://mbostock.github.com/d3/d3.v2.js"></script>
    <script src={{ get_static_url("js/user_rating_histogram.js")
    }}></script>
    <script src={{ get_static_url("js/navigation.js") }}></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,600,300|Source+Code+Pro:300,400,600'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href={{
          get_static_url("bootstrap/css/bootstrap.min.css") }}
          type="text/css">
    <link rel="stylesheet" href={{
          get_static_url("css/d3_styles.css") }} type="text/css">
    <link rel="stylesheet" href={{
          get_static_url("css/base_styles.css") }}
          type="text/css">
  </head>
  <body>
    <header>
      <div id="navigation">
        <div id="navigation-background"></div
        <div id="logo-icon"><img src="../static/img/logo_icon2.png"></div>
        <div class="links">
          <div id="histogram-link">
            <p><a href="../rating_graph/{{username}}">1</a></p>
            <div>
              <p><a href="../rating_graph/{{username}}">Rating Histogram</a></p>
            </div>
          </div>
          <div class="games-history-link">
            <p><a href="../browse_games/{{username}}">2</a></p>
            <div>
              <p><a href="../browse_games/{{username}}">Game History</a></p>
            </div>
          </div>
          <div class="game-analysis-link">
            <p><a href="../">3</a></p>
            <div>
              <p><a href="../">Game Analysis</a></p>
            </div>
          </div>
          <div class="moves-stats-link">
            <p><a href="../browse_moves/{{username}}">4</a></p>
            <div>
              <p><a href="../browse_moves/{{username}}">Moves Statistics</a></p>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div id="content">
      <div id="page-header">
        <h2> {{ username }} / <span id="page-title"> Rating
            Histogram</span></h2>
        <p><i class="icon-hand-right icon-white"></i> Select plot point to view game analysis</p>
      </div>
      <div id="graph" class="rating-graph" ng-user-rating-histogram
           username="{{ username }}"></div>
    </div>
  </body>
</html>
