<!DOCTYPE html>
<html ng-app="ChessStats">
  <head>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src={{ get_static_url("js/lib/angular/angular.js") }}></script>
    <script src={{ get_static_url("js/lib/angular/angular-resource.js") }}></script>
    <script src={{ get_static_url("js/app.js") }}></script>
    <script src={{ get_static_url("js/services.js") }}></script>
    <script src={{ get_static_url("js/controllers.js") }}></script>
    <script src={{ get_static_url("js/filters.js") }}></script>
    <script src={{ get_static_url("js/directives.js") }}></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <link rel="stylesheet" href={{
          get_static_url("css/grid.css") }}
          type="text/css">
    <link rel="stylesheet" href={{
          get_static_url("css/login_styles.css") }}
          type="text/css">
  </head>
  <body>
    <div id="header-wrapper">
      <div id="header">
        <h1 id="logo"><span>Chess Stats</span></h1>
        <ul id="navigation">
          <li><span>Chess.com</span></li>
          <li><span>Information</span></li>
        </ul>
      </div>
    </div>

    <div id="login-wrapper">
      <div id="login-description">
        Enter a Chess.com username for stats and game analysis
      </div>
      <div id="login-form">
        <form ng-submit="loginUsername()" ng-controller="LoginCtrl">
          <input type="text" ng-model="username" size="30"
               placeholder="Chess.com Name">
          <input class="btn-primary" type="submit" value="enter">
        </form>
      </div>
    </div>
  </body>
</html>
