<!DOCTYPE html>
<html ng-app="ChessStats">
  <head>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src={{ get_static_url("js/lib/angular/angular.js") }}></script>
    <script src={{ get_static_url("js/lib/angular/angular-resource.js") }}></script>
    <script src={{ get_static_url("js/app.js") }}></script>
    <script src={{ get_static_url("js/services.js") }}></script>
    <script src={{ get_static_url("js/controllers.js") }}></script>
    <script src={{ get_static_url("js/filters.js") }}></script>
    <script src={{ get_static_url("js/directives.js") }}></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="http://mbostock.github.com/d3/d3.v2.js"></script>
    <script src={{ get_static_url("js/user_rating_histogram.js")
    }}></script>
    <link rel="stylesheet" href={{
          get_static_url("css/base_styles.css") }}
          type="text/css">
    <link rel="stylesheet" href={{
          get_static_url("css/d3_styles.css") }} type="text/css">
  </head>
  <body>
    <div id="graph" class="rating-graph" ng-user-rating-histogram username="{{ username }}"></div>
  </body>
</html>
