<div>
  <div class="content-container">
    <div id="page-header" style="text-align:left;">
      <h2>
        Interactive Analysis
        / 
        <span id="page-title">{{ game.black_username }} vs. {{
        game.white_username }}</span>
      </h2>
    </div>

    <div>
      <div id="board-container">
        <span class="player-info">
          <a ng-click="goToUsername(game.black_username)">
            {{ game.black_username }}
          </a>
          &#9823; {{ game.black_elo }}
        </span>
        <chess-board chess-game="chessGame"
                     square-size="55" light-color="'white'"
                     dark-color="'#A8A3A8'"
                     square-set="squareSet"></chess-board>
        <span class="player-info">
          <a ng-click="goToUsername(game.white_username)">
            {{ game.white_username }}
          </a>
          &#9817; {{ game.white_elo }}
        </span>
      </div>

      <div id="analysis-msg-container">
        <div id="analysis-msg-inner">
          <div id="analysis-msg">
            <!-- <button ng-click="requestAnalysis()" -->
            <!--         id="analyze-btn">Analyze</button> -->

            <p>Score:<span id="bold"> {{ score }}</span></p>
            <p>Best Move:<span id="bold"> {{ bestMove }}</span></p>
            <p>Next Moves:<span id="bold"> {{ continuation }}</span></p>
            <input type="checkbox" name="REPLACE"
            value="REPLACE"> Perform Analysis

          </div>
          <div id="analysis-moves-table">
            <move-list chess-game="chessGame" class="table
                       table-striped yellow"
                       id="moves-table"></move-list>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
