<html ng-app="myApp">
  <head>

	<script src='../js/lib/angular/angular.js'></script>
	<script src='../js/lib/angular/angular-resource.js'></script>
	<script src='../js/app.js'></script>
	<script src='../js/services.js'></script>
	<script src='../js/controllers.js'></script>
	<script src='../js/filters.js'></script>
	<script src='../js/directives.js'></script>

  </head>
  <body>
	<div ng-controller='AppCtrl'>
	  <input type="text" ng-model="username">
	  <button ng-click="">
	  <br>
	  Moves thus far: {{ moves_list }}
	  <table>
		<th>Move</th>
		<th>White Wins</th>
		<th>Black Wins</th>
		<th>Draws</th>
		<th>White Win %</th>
		<th>Black Win %</th>
		<th>Draw %</th>
		<th>White Average Elo</th>
		<th>Black Average Elo</th>
		
		<tr ng-repeat="move_pair in moves">
		  <td style=style="text-align: center;">
			<a ng-click="alterMoves(move_pair[0])">{{ move_pair[0] }}</a>
		  </td>
		  <td style="text-align: center;">
			{{ move_pair[1].white_wins }}
		  </td>
		  <td style="text-align: center;">
			{{ move_pair[1].black_wins }}
		  </td>
		  <td style="text-align: center;">
			{{ move_pair[1].draws }}
		  </td>
		  <td style="text-align: center;">
			{{ move_pair[1].white_win_pct.toFixed(2) }}
		  </td>
		  <td style="text-align: center;">
			{{ move_pair[1].black_win_pct.toFixed(2) }}
		  </td>
		  <td style="text-align: center;">
			{{ move_pair[1].draw_pct.toFixed(2) }}
		  </td>
		  <td style="text-align: center;">
			{{ move_pair[1].white_average_elo }}
		  </td>
		  <td style="text-align: center;">
			{{ move_pair[1].black_average_elo }}
		  </td>
		</tr> 
	  </table>
	  <a ng-click="back()">Back</a>
	</div>
  </body>
</html>
