html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,b, u, i, center,
dl, dt, dd, ol, ul, li,fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
}

table {
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    border-collapse: collapse;
    font-family: "Helvetica Neue", Helvetica;
}

footer {
    clear: both;
    position: relative;
    font-size: .95em;
    font-style: italic;
    padding-top: 2em;
    margin: 7em auto;
    text-align: center;
}

a:hover {
    text-decoration: none;
    color: navy;
}