html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,b, u, i, center,
dl, dt, dd, ol, ul, li,fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

table {
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    border-collapse: collapse;
}

#content {
    width: 90%;
    margin: 0 auto 0 7%;
}

#content i {
    position: relative;
    top: 3px;
}

#bold {
    font-weight: 600;
}

.black {
    color: black;
}

.white {
    color: white;
}

footer {
    clear: both;
    position: relative;
    font-size: .95em;
    font-style: italic;
    padding-top: 2em;
    margin: 7em auto;
    text-align: center;
}

.center {
    float: none;
    margin: auto;
    text-align: center;
}

#page-header h2 {
    font-size: 36px;
    letter-spacing: 1px;
    font-weight: 400;
}

#page-header {
    text-align: right;
    height: 100px;
    margin: 0 auto;
    margin-top: 40px;
}

#page-title {
    display: inline-block;
    font-weight: 300;
    padding-bottom: 3px;
    margin-bottom: 15px;
    letter-spacing: 1px;
    border-bottom: 2px solid;
}

#content p {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 16px;
}

.table {
    color: black;
    font-family: 'Open Sans';
    font-size: 14px;
}

.table a, a:visited {
    color: #0088cd
}

.table a:hover, a:hover {
    text-decoration: none;
    color: navy;
}

.table th {
    text-transform: uppercase;
    text-align: center;
}

.table td {
    border-top: 1px solid #fee4e4;
    text-align: center;
}

.table-bordered {
    border: 1px solid #fee4e4;
    border-radius: 0;
    border-collapse: collapse;
}

.table-bordered td, .table-bordered th {
    border-left: 1px solid #fee4e4;
}

.table-striped tbody>tr:nth-child(odd)>td,.table-striped tbody>tr:nth-child(odd)>th{
    background-color:#fef2f2;
}

.table-bordered tbody:first-child tr:first-child>th {
    color: white;
    background-color: #ff3f34;
}

.table-bordered tbody:first-child tr:first-child>th:last-child {
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    border-top-right-radius: 0px;
}
.table-bordered tbody:first-child tr:first-child>th:first-child {
    -webkit-border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    border-top-left-radius: 0px;
}

/* Navigation styling */

#navigation-background {
    min-height: 100%;
    height: 100%;
    opacity: 0.2;
    background-color: black;
    position: fixed;
    width: 70px;
    top: 0;
    bottom: 0;
}

#logo-icon {
    position: fixed;
    margin: 0 auto;
    top: 6px;
    left: 0;
    margin-top: 5px;
    text-align: center;
    cursor: pointer;
}

#navigation .links {
    z-index: 1;
    position: fixed;
    top: 25%;
    left: 0;
}

#navigation .links > div {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 70px;
    height: 70px;
}

#navigation .links div > p {
    margin: 0;
    padding: 0 40%;
    overflow: hidden;
    cursor: pointer;
    position: absolute;
    z-index: 9999;
    top: 35%;
    font-size: 15px;
    color: white;
}

#navigation .links div div {
    left: -200px;
    width: 200px;
    color: #FFF;
    text-transform: uppercase;
    position: absolute;
    height: 70px;
    top: 0;
    z-index: 9999;
}

#navigation .links div div p {
    overflow: hidden;
    position: absolute;
    text-align: center;
    padding: 0;
    width: 100%;
    top: 35%;
}

#navigation .links a, a:visited {
    color: white;
}

#navigation .histogram-link, #navigation .histogram-link div {
    background-color: #213540;
}

#navigation .games-history-link, #navigation .games-history-link div {
    background-color: #ff3f34; 
}

#navigation .game-analysis-link, #navigation .game-analysis-link div{
    background-color: #ffe000;
}

#navigation .moves-stats-link, #navigation .moves-stats-link div {
    background-color: #16c1f3;

}

#login-background {
    z-index: -1;
    position: fixed;
    top: 0;
    margin: 0;
    width: 100%;
    font-size: 150px;
    line-height: 1;
}

#login-wrapper {
    width: 577px;
    margin: auto;
    color: white;
    background-color: #ffe000;
    margin-top: 15%;
    text-align: center;
    box-shadow: 5px 5px 8px #1d1d1d; 
}

#login-description {
    color: #fff;
    font-size: 3em;
    padding: 50px 60px 15px 60px;
}

#login-description span {
    letter-spacing: 4px;
}

#login-form {
    padding: 10px 0 50px 0;
}

#login-form input {
    margin-bottom: 0;
    height: 25px;
    width: 52%;
    font-size: 1em;
    font-family: 'Open Sans';
    text-align: center;
}

#login-form input[type="submit"], #analyze-btn {
    background-color: #1c1c1c;
    padding: 2px 6px 3px;
    font-style: normal;
    color: white;
    border: 2px outset #3f3f3f;
    height: 33px;
}
#login-form .submit-button {
    width: 90px;
}

/* Browse Game History */

#game-table {
    text-align: center;
    line-height: 1;
    box-shadow: 5px 5px 8px #ffb9b7;
    margin-top: 20px;
}

#game-table a, a:visited {
    color: #0088cd;
}

.user-column {
    overflow: hidden;
    min-width: 120px;
    max-width: 100px;
}

#game-table th, .game-table td {
    text-align: center;
}

/* Interactive Analysis */

#analysis-msg-container {
    margin-left: 50px;
}

#analysis-msg-container p {
    line-height: 1;
    font-size: 3em;
    margin-bottom: 20px;
    padding-bottom: 20px;
    color: black;
    border-bottom: 2px solid black;
}

#analyze-btn {
    float: left;
    width: 200px;
    font-size: 2em;
    height: 50px;
}

/* Browse Moves Styles */

#page-header a, a:visited {
    color: black;
}

#page-header a:hover, table #bold a:hover, .containing-table a:hover {
    color: #16c1f3;
}

#moves-table tbody:first-child tr:first-child>th {
    color: black;
    background-color: white;
}
.chess-board {
    float: left;
    border: 3px solid black;
    color: black;
}

.containing-table {
    float: left;
    margin-left: 20px;
    width: 60%;
}

.content-container {
    margin: auto;
    width: 90%;
    overflow: hidden;
}

.board-table-container {
    margin-top: 40px;
    width: 100%;
}

table .containing-table a, a:visited {
    color: black;
    font-weight: 600;
}

.containing-td th span {
    display: inline-block;
    font-size: 12px;
    font-weight: 300;
    text-transform: lowercase;
}

.blue {
    box-shadow: 5px 5px 8px #cdfbff;
}

.blue tbody:first-child tr:first-child>th {
    color: white;
    background-color: #16c1f3;
}

.blue tbody>tr:nth-child(odd)>td {
    background-color: #CDFBFF;
} 


.blue, .blue td, .blue th {
    border: 1px solid #A4EFFA;
}


.red, .red td, .red th {
    border: 1px solid #FFC5C5;
}

.red tbody:first-child tr:first-child>th {
    color: white;
    background-color: #ff3f34;
}

.red tbody>tr:nth-child(odd)>td,.red tbody>tr:nth-child(odd)>th{
    background-color:#ffebea;
}

/* Rating Graph Styles */

path {
    stroke-width: 1px;
    fill: none;
}

circle {
    cursor: pointer;
}

svg {
    overflow: auto;
}

.rating-graph {
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.graph-line {
    stroke-width: 1.5px;
    stroke: #FF7300;
}

.graph-circle {
    fill: #E82C0C;
}

.axis {
    shape-rendering: crispEdges;
}

.x.axis path, .y.axis line {
    fill: none;
    stroke: #000;
}
.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 120px;                  
  padding: 10px 6px 10px 6px;             
  background-color: #ff7300;   
  color: white;
  border: 0px;      
  border-radius: 1px;           
  box-shadow: 5px 5px 8px #202020; 
  pointer-events: none;         
}

.x.axis text, .y.axis text, .tooltip {
    font-size: 11px;
    font-family: 'Open Sans';
}

#x-axis-label, #y-axis-label {
    z-index: -1;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    fill: #DAFFE6;
}

#rating-graph-background { 
    z-index: -1;
    height: 100%;
    position:absolute;
    width: 100%;
    background-color: #213540;
}
