#game-table {
    text-align: center;
    line-height: 1;
    box-shadow: 5px 5px 8px #ffb9b7;
    margin-top: 20px;
}

#game-table a, a:visited {
    color: #0088cd;
}

.user-column {
    overflow: hidden;
    min-width: 120px;
    max-width: 100px;
}

#game-table th, .game-table td {
    text-align: center;
}

#page-header a, a:visited {
    color: black;
}
#page-header a:hover {
    color: #0088cd;
    text-decoration: none;
}

.table-bordered, .table td, .table-bordered td, .table-bordered th {
    border: 1px solid #FFC5C5;
}

.table-striped tbody>tr:nth-child(odd)>td,.table-striped tbody>tr:nth-child(odd)>th{
    background-color:#ffebea;
}

.table-bordered tbody:first-child tr:first-child>th {
    color: white;
    background-color: #ff3f34;
}
