.game-table {
    display: block;
    text-align: center;
    line-height: 1;
}

.game-table td {
    text-align: center;
    overflow: hidden;
}

.user-column {
    overflow: hidden;
    min-width: 120px;
    max-width: 100px;
}

.game-table th {
    text-align: center;
}

.center {
    float: none;
    margin: auto;
    text-align: center;
}