path {
    stroke-width: 1;
    fill: none;
}

.rating-graph {
    position: absolute;
    top: 0px;
    left: 0; 
    float: left;
}

.data1 {
    stroke: green;
}

.data2 {
    stroke: orange;
}

.axis {
    shape-rendering: crispEdges;
}

.x.axis line {
    stroke: lightgrey;
}

.x.axis .minor {
    stroke-opacity: .5;
}

.x.axis path {
    display: none;
}

.x.axis text {
    font-size: 10px;
}

.y.axis line, .y.axis path {
    fill: none;
    stroke: #000;
}

.y.axis text {
    font-size: 12px;
}