body {
    background-color: #213540;
}

#content h2 {
    font-size: 36px;
    font-family: 'Source Code Pro';
    display: block;
    margin-right: 10%;
    font-weight: 400;
    color: white;
    position: relative;
    top: 40px;
    text-align: right;
}
#content i {
    position: relative;
    top: 3px;
}
path {
    stroke-width: 1;
    fill: none;
}

circle {
    cursor: pointer;
}

.rating-graph {
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 70px;
}

.graph-line {
    stroke: #FF7300;
}

.graph-circle {
    fill: #E82C0C;
}

.axis {
    shape-rendering: crispEdges;
}

.x.axis .minor {
    stroke-opacity: .5;
}

.x.axis path {
    // display: none;
    fill: none;
    stroke: #14141b;
}

.x.axis text, .y.axis text, .tooltip {
    font-size: 11px;
    font-family: 'Open Sans';
}

.x.axis text, .y.axis text {
    font-weight: 600;
}

.y.axis line, y.axis path {
//    display: none;
    fill: none;
    stroke: #000;
}

.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 80px;                  
  padding: 6px;             
  background-color: #ff7300;   
  color: white;
  border: 0px;      
  border-radius: 1px;           
  box-shadow: 5px 5px 8px #202020;
  pointer-events: none;         
}