body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
//    background-color: #eaeaea;
//    background-image: url('../img/login_background.png');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center center;
}

#navigation-background {
    opacity: 0.2;
    background-color: black;
    position: absolute;
    height: 3400px;
    width: 70px;
    top: 0;
    bottom: 0;
}

#navigation .links {
    position: fixed;
    top: 25%;
    left: 0;
}

#navigation .links > div {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 70px;
    height: 70px;
    z-index: 9999;
}

#navigation .links div > p {
    margin: 0;
    padding: 0 40%;
    overflow: hidden;
    cursor: pointer;
    position: absolute;
    z-index: 9999;
    top: 35%;
    font-size: 15px;
}

#navigation .links a, a:visited {
    color: white;
}

#navigation .histogram-link {
    background-color: #213540;
}

#navigation .games-history-link {
    background-color: #ff3f34; 
}

#navigation .game-analysis-link {
    background-color: #ffe000;
}

#navigation .moves-stats-link {
    background-color: #16c1f3;

}

#login-wrapper {
    border: 1px solid #F72E2A;
    width: 30%;
    margin: auto;
    color: white;
    background-color: white;
    position: absolute;
    top: 25%;
    left: 35%;
    text-align: center;
}

#login-description {
    color: #F72E2A;
    font-size: 2em;
    padding: 60px;
}

#login-form {
    border-top: 1px solid #F72E2A;
    padding: 10px 0 10px 0;
}