.containing-table tr {
    vertical-align: top;
}

.containing-table td {
    text-align: center;
}

.containing-table th {
    text-align: center;
}

.containing-table table.right th {
    text-align: center;
    width: 60px;
}

table.containing-table {
    width: 80%;
}