.chess-board {
    float: left;
}

.moves-tables {
    float: right;
}

.board-table-container {
    margin: auto;
    width: 90%;
    overflow: hidden;
}
#page-header a, a:visited {
    color: black;
}

#page-header a:hover, table #bold a:hover, .containing-table a:hover {
    color: #16c1f3;
}

#moves-table tbody:first-child tr:first-child>th {
    color: black;
    background-color: white;
}

table .containing-table a, a:visited {
    color: black;
    font-weight: 600;
    font-style: italic;
}

.containing-table table {
    color: #4F686E;
    box-shadow: 5px 5px 8px #cdfbff;
}

.table-bordered tbody:first-child tr:first-child>th {
    color: white;
    background-color: #16c1f3;
}

.table-striped tbody>tr:nth-child(odd)>td {
    background-color: #CDFBFF;
} 

.table-bordered, .table td, .table-bordered td, .table-bordered th {
    border: 1px solid #A4EFFA;
}

.containing-td th span {
    display: inline-block;
    font-size: 12px;
    font-weight: 300;
    text-transform: lowercase;
}